<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace目前可以自定义要唯一，将来面向接口编程时对应dao接口，一 个mapper相当于一个dao接口的实现类 -->
<mapper namespace="com.jxd.dao.IClassDao">
    <!--List<Class> getAllClass();-->
    <select id="getAllClass" resultType="Class">
        select cid,cname from class
    </select>

    <!--List<Map<String, String>> getAllClasses()-->
    <select id="getAllClasses" resultType="Map">
        select c.cid cid,c.cname cname,t.tname tname ,t.tid tid from class c left join teacher t on
        c.cid = t.cid
    </select>

    <!--boolean addCla(String cname)-->
    <insert id="addCla">
        insert into class(cname) values (#{cname})
    </insert>
    <!--Integer getMaxCid();-->
    <select id="getMaxCid" resultType="Integer">
       select max(cid) from class
    </select>
</mapper>