<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace目前可以自定义要唯一，将来面向接口编程时对应dao接口，一 个mapper相当于一个dao接口的实现类 -->
<mapper namespace="com.jxd.dao.ICourseDao">
    <!--List<Map<String,String>> getAllCourseByCid(Integer cid);-->
    <select id="getAllCourseByCid" resultType="map">
        select co.coursename coursename,co.courseid courseid,ct.state state from course co inner join ctoc ct on
        co.courseid = ct.courseid where ct.cid=#{cid} order by co.courseid
    </select>

    <!--List<Course> getAllCourse()-->
    <select id="getAllCourse" resultType="Course">
        select courseId,courseName,state from course
    </select>

    <!--boolean addCou(Course course)-->

    <insert id="addCou">
        insert into course(coursename,state) values (#{courseName},#{state})
    </insert>

    <!-- boolean deleteCou(Integer id)-->
    <delete id="deleteCou">
        delete  from course where courseid = #{id}
    </delete>

    <!--boolean updateCou(Integer id);-->
    <update id="updateCou">
        update course set state = 1 where courseid = #{id}
    </update>

    <!--boolean updateAna1(Integer id);-->
    <update id="updateCou1">
        update course set state = 0 where courseid = #{id}
    </update>
</mapper>