<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace目前可以自定义要唯一，将来面向接口编程时对应dao接口，一 个mapper相当于一个dao接口的实现类 -->
<mapper namespace="com.jxd.dao.IManagerDao">
    <sql id="BaseSql">
       select id,mname,deptno from manager
    </sql>

    <!--List<Teacher> getAllTeachers-->
    <select id="getAllTeachers1" resultType="Manager">
        <include refid="BaseSql"></include>
        <where>
            <if test="tname != null and tname != ''">
                mname like '%' #{tname} '%'
            </if>
        </where>
    </select>
    <select id="getAllTeachers" resultType="Manager">
        <include refid="BaseSql"></include>
        <where>
            <if test="tname != null and tname != ''">
                mname like '%' #{tname} '%'
            </if>
        </where>
        group by id desc
        limit ${pageSize*(pageIndex-1)}, ${pageSize}
    </select>

    <!--boolean addTeacher(Teacher teacher);-->
    <insert id="addTeacher">
        insert into manager(mname) values (#{mname})
    </insert>
    <!--boolean delTeacher(Teacher teacher);-->
    <delete id="delTeacher">
        delete from manager where  id = #{id}
    </delete>
    <!--boolean editTea(Teacher teacher);-->
    <update id="editTea">
        update manager set mname = #{mname} where id = #{id}
    </update>
</mapper>