<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace目前可以自定义要唯一，将来面向接口编程时对应dao接口，一 个mapper相当于一个dao接口的实现类 -->
<mapper namespace="com.jxd.dao.IUserDao">
    <!--boolean addUser(User user)-->
    <insert id="addUser">
        insert into user(uname,password,role) values (#{uname},#{password},#{role})
    </insert>

    <!--boolean delUser(User user)-->
    <delete id="delUser">
        delete from user where uname = #{uname}
    </delete>
    <!--boolean editUser(String oldName ,String newName);-->
    <update id="editUser">
        update user set uname = #{new} where uname = #{old}
    </update>

    <!--List<User> getAllUsers-->
    <select id="getAllUsers" resultType="User">
        select id,uname,phonenum,role from user
        <where>
            <if test="uname != null and uname != ''">
                uname like '%' #{uname} '%'
            </if>
        </where>
        group by id desc
        limit ${pageSize*(pageIndex-1)}, ${pageSize}
    </select>

    <select id="getAllUsers1" resultType="User">
        select id,uname,phonenum,role from user
        <where>
            <if test="uname != null and uname != ''">
                uname like '%' #{uname} '%'
            </if>
        </where>
        group by id desc
    </select>


    <!--/**
     * 根据输入的账号密码查找是否有该用户
      * @param user 要查找的用户
     * @return 查找到的用户
     */
    User searchUser(User user);-->
    <select id="searchUser" resultType="User">
        select id,uname,password,role from user where
        uname=#{uname} and password=#{password}
    </select>

    <!-- boolean resetPwd(Integer id)-->
    <update id="resetPwd">
        update user set password = '888888' where id = #{id}
    </update>
</mapper>